body {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #444;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.table-container{
    max-width: 950px;
    box-sizing: border-box;
}
.table-container table{
    width: 100%;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: gray;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th:first-child, td:first-child {
    padding-left: 0;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}


form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

input{
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Make the button full-width */
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="text"],input[type="number"],select {
    width: 100%; /* Fill available width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.red-button{
    padding: 15px;
    background: red;
    color: white;
    font-size: 15px;

}

.marker-toggle{
    
    background: #d2d2d2;
    width: 50px;
    height: 25px;
    border-radius: 22px;
    cursor: pointer; 
    position: relative; 
    transition: 0.2s;
}

.marker-toggle::before{
    position: absolute;
    content: '';
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    transition: 0.2s;
}

input:checked + .marker-toggle{
    background: #20096d;
}

input:checked + .marker-toggle::before{
    transform: translateX(25px);
}

input[type="checkbox"] {
    width: 15px;
    height: 15px; 
    display: none; 
}



